input {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #4d4346;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-family: "Mitr";
  font-size: 40px;
  text-transform: uppercase;
  cursor: crosshair;
  max-lines: 0;
}

input:focus {
  outline: none;
  background-color: #fff;
  transition: 0.35s;
  border: none;
}

.buttons {
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container-area-app {
  width: 430px;
  height: 650px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttons-letters {
  width: 70px;
  height: 30px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  margin: 2px;
}

#letter-area {
  width: 800px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
